/* Bagian Testimonial */
.testimonial{
    text-align: center;
    margin: 40px 0px;
}

.section{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 50px 100px;
}

.card{
    margin: 10px 20px;
}
.card img{
    width: 60px;
    border-radius: 200px;
}

h3, .p{
    color: #7F8487;
    font-weight: bold;
}

h3{
    letter-spacing: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media only screen and (max-width: 768px) {
    .testimonial .section{
        flex-direction: column;
        margin: 0px;
    }
    
    .section .card{
        margin: 30px 50px;
    }
}

/* Bagian section 3 */

.section-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}
.desktop {
    display: none;
}
.section-3 > div{
    width: 50%;
    height: 240px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (min-width: 1024px){
    .section-3{
        display:flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .section-3 > div{
        width: 25%;
        height: 256px;
        flex-grow: 1;
        padding:0%;
    }
    img {
        width:max-content;
        height: max-content;
        object-fit: fill;
    }
    .desktop{
        display: block;
    }
    .mobile{
        display: none;
    }

}

@media only screen and (min-width: 768px){
    .section-3{
        display:flex;
        flex-direction: row;
        margin:0%;
        padding: 0%;
    }
    .section-3 > div{
        width: 25%;
        height: auto;
    }
    img {
        object-fit: contain;
        width:max-content;
        height: max-content;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }

}

/* bagian Footer */
.footer {
    padding-top: 16px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    gap: 32px;
}

.footer__menu {
    display: flex;
    gap: 24px;
}

.footer__menu > div {
    background-color: white;
}

.footer__social {
    display: flex;
    gap: 16px;
}

.footer__social > div {
    background-color: blueviolet;
}

@media only screen and (min-width: 1024px) {
    .footer {
        padding-top: 48px;
    }
  }
